atf-a365-la-3plexp-cst
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "Recurrence": {
                "type": "Recurrence",
                "recurrence": {
                    "interval": "@parameters('recurrence_interval')",
                    "frequency": "@{parameters('recurrence_frequency')}",
                    "startTime": "@{parameters('recurrence_startTime')}",
                    "timeZone": "W. Europe Standard Time"
                }
            }
        },
        "actions": {
            "Try": {
                "type": "Scope",
                "actions": {
                    "Get_appId": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['keyvault']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/secrets/@{encodeURIComponent('d365fo-appid')}/value"
                        },
                        "runtimeConfiguration": {
                            "secureData": {
                                "properties": [
                                    "inputs",
                                    "outputs"
                                ]
                            }
                        }
                    },
                    "Get_appId_secret": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['keyvault']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/secrets/@{encodeURIComponent('d365fo-appsecret')}/value"
                        },
                        "runAfter": {
                            "Get_appId": [
                                "Succeeded"
                            ]
                        },
                        "runtimeConfiguration": {
                            "secureData": {
                                "properties": [
                                    "inputs",
                                    "outputs"
                                ]
                            }
                        }
                    },
                    "For_each_company_list": {
                        "type": "Foreach",
                        "foreach": "@parameters('Company_list')",
                        "actions": {
                            "GET_3PL_Integration_parameters": {
                                "type": "Http",
                                "inputs": {
                                    "uri": "@concat(\r\n  parameters('D365FOUrl'),\r\n  '/data/ATFThreePLIntegrationParameters?cross-company=true&$filter=dataAreaId eq ''',\r\n  items('For_each_company_list'),\r\n  ''''\r\n)",
                                    "method": "GET",
                                    "authentication": {
                                        "type": "ActiveDirectoryOAuth",
                                        "authority": "https://login.windows.net/",
                                        "tenant": "@{parameters('Tenant')}",
                                        "audience": "@{parameters('D365FOUrl')}",
                                        "clientId": "@{body('Get_appId')?['value']}",
                                        "secret": "@{body('Get_appId_secret')?['value']}"
                                    }
                                },
                                "runtimeConfiguration": {
                                    "contentTransfer": {
                                        "transferMode": "Chunked"
                                    }
                                }
                            },
                            "Parse_JSON": {
                                "type": "ParseJson",
                                "inputs": {
                                    "content": "@body('GET_3PL_Integration_parameters')",
                                    "schema": {
                                        "type": "object",
                                        "properties": {
                                            "@@odata.context": {
                                                "type": "string"
                                            },
                                            "value": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@@odata.etag": {
                                                            "type": "string"
                                                        },
                                                        "dataAreaId": {
                                                            "type": "string"
                                                        },
                                                        "ThreePLOperator": {
                                                            "type": "string"
                                                        },
                                                        "Description": {
                                                            "type": "string"
                                                        },
                                                        "AzurePathPickingList": {
                                                            "type": "string"
                                                        },
                                                        "ProviderpathItemArrival": {
                                                            "type": "string"
                                                        },
                                                        "DefinitionGroupName": {
                                                            "type": "string"
                                                        },
                                                        "DMFExportProjectItemMaster": {
                                                            "type": "string"
                                                        },
                                                        "AzurepathItemMaster": {
                                                            "type": "string"
                                                        },
                                                        "ProviderPathImportPO": {
                                                            "type": "string"
                                                        },
                                                        "ProviderpathItemMaster": {
                                                            "type": "string"
                                                        },
                                                        "DMFExportProjectItemArrival": {
                                                            "type": "string"
                                                        },
                                                        "ImportProjectPO": {
                                                            "type": "string"
                                                        },
                                                        "AzurepathItemArrival": {
                                                            "type": "string"
                                                        },
                                                        "DMFExportProjectPickingList": {
                                                            "type": "string"
                                                        },
                                                        "AzurePath": {
                                                            "type": "string"
                                                        },
                                                        "ProviderPathPickingList": {
                                                            "type": "string"
                                                        },
                                                        "AzurePathImportPO": {
                                                            "type": "string"
                                                        },
                                                        "ProviderPath": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "@@odata.etag",
                                                        "dataAreaId",
                                                        "ThreePLOperator",
                                                        "Description",
                                                        "AzurePathPickingList",
                                                        "ProviderpathItemArrival",
                                                        "DefinitionGroupName",
                                                        "DMFExportProjectItemMaster",
                                                        "AzurepathItemMaster",
                                                        "ProviderPathImportPO",
                                                        "ProviderpathItemMaster",
                                                        "DMFExportProjectItemArrival",
                                                        "ImportProjectPO",
                                                        "AzurepathItemArrival",
                                                        "DMFExportProjectPickingList",
                                                        "AzurePath",
                                                        "ProviderPathPickingList",
                                                        "AzurePathImportPO",
                                                        "ProviderPath"
                                                    ]
                                                }
                                            }
                                        }
                                    }
                                },
                                "runAfter": {
                                    "GET_3PL_Integration_parameters": [
                                        "Succeeded"
                                    ]
                                }
                            },
                            "For_each_3PL_Parameter": {
                                "type": "Foreach",
                                "foreach": "@body('Parse_JSON')?['value']",
                                "actions": {
                                    "Set_3PL_Parameters_JSON": {
                                        "type": "SetVariable",
                                        "inputs": {
                                            "name": "3PLParametersJSON",
                                            "value": {
                                                "body": [
                                                    {
                                                        "ExportProject": "@{item()?['DMFExportProjectPickingList']}",
                                                        "AzurePath": "@{item()?['AzurePathPickingList']}",
                                                        "ProviderPath": "@{item()?['ProviderPathPickingList']}",
                                                        "ExecutionId": "3PLPickListExpEId-",
                                                        "ODataMethod": "/data/PickingListHeaders/Microsoft.Dynamics.DataEntities.update3PLPickingListExport"
                                                    },
                                                    {
                                                        "ExportProject": "@{item()?['DMFExportProjectItemArrival']}",
                                                        "AzurePath": "@{item()?['AzurepathItemArrival']} ",
                                                        "ProviderPath": "@{item()?['ProviderpathItemArrival']}",
                                                        "ExecutionId": "3PLItemArrivalExpEId-",
                                                        "ODataMethod": "/data/ATF3PLItemArrivalJournalHeaders/Microsoft.Dynamics.DataEntities.update3PLItemArrivalExport"
                                                    },
                                                    {
                                                        "ExportProject": "@{item()?['DMFExportProjectItemMaster']}",
                                                        "AzurePath": "@{item()?['AzurepathItemMaster']}",
                                                        "ProviderPath": "@{item()?['ProviderpathItemMaster']}",
                                                        "ExecutionId": "3PLItemMasterExpEId-",
                                                        "ODataMethod": "/data/ATF3PLItemArrivalJournalHeaders/Microsoft.Dynamics.DataEntities.update3PLItemMasterExport"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "Parse_3PL_Parameters_JSON": {
                                        "type": "ParseJson",
                                        "inputs": {
                                            "content": "@variables('3PLParametersJSON')",
                                            "schema": {
                                                "type": "object",
                                                "properties": {
                                                    "body": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "ExportProject": {
                                                                    "type": "string"
                                                                },
                                                                "AzurePath": {
                                                                    "type": "string"
                                                                },
                                                                "ProviderPath": {
                                                                    "type": "string"
                                                                },
                                                                "ExecutionId": {
                                                                    "type": "string"
                                                                },
                                                                "ODataMethod": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "runAfter": {
                                            "Set_3PL_Parameters_JSON": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "For_each_3PL_Parameters_JSON": {
                                        "type": "Foreach",
                                        "foreach": "@body('Parse_3PL_Parameters_JSON')?['body']",
                                        "actions": {
                                            "Set_ExportProject": {
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "ExportProject",
                                                    "value": "@item()?['ExportProject']"
                                                }
                                            },
                                            "Set_AzurePath": {
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "AzurePath",
                                                    "value": "@item()?['AzurePath']"
                                                },
                                                "runAfter": {
                                                    "Set_ExportProject": [
                                                        "Succeeded"
                                                    ]
                                                }
                                            },
                                            "Set_ProviderPath": {
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "ProviderPath",
                                                    "value": "@item()?['ProviderPath']"
                                                },
                                                "runAfter": {
                                                    "Set_AzurePath": [
                                                        "Succeeded"
                                                    ]
                                                }
                                            },
                                            "Check_3PL_Parameters": {
                                                "type": "If",
                                                "expression": {
                                                    "and": [
                                                        {
                                                            "not": {
                                                                "equals": [
                                                                    "@variables('ExportProject')",
                                                                    ""
                                                                ]
                                                            }
                                                        },
                                                        {
                                                            "not": {
                                                                "equals": [
                                                                    "@variables('AzurePath')",
                                                                    ""
                                                                ]
                                                            }
                                                        },
                                                        {
                                                            "not": {
                                                                "equals": [
                                                                    "@variables('ProviderPath')",
                                                                    ""
                                                                ]
                                                            }
                                                        }
                                                    ]
                                                },
                                                "actions": {
                                                    "ExportToPackageCreation": {
                                                        "type": "Http",
                                                        "inputs": {
                                                            "uri": "@concat(parameters('D365FOURL'),'/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.ExportToPackage')",
                                                            "method": "POST",
                                                            "body": {
                                                                "definitionGroupId": "@{variables('ExportProject')}",
                                                                "packageName": "@{concat(variables('ExportProject'),'Package')}",
                                                                "executionId": "@{concat(variables('ExecutionIdVar'),workflow().run.name)}",
                                                                "reExecute": false,
                                                                "legalEntityId": "@{items('For_each_company_list')}"
                                                            },
                                                            "authentication": {
                                                                "type": "ActiveDirectoryOAuth",
                                                                "authority": "https://login.windows.net/",
                                                                "tenant": "@{parameters('Tenant')}",
                                                                "audience": "@{parameters('D365FOURL')}",
                                                                "clientId": "@{body('Get_appId')?['value']}",
                                                                "secret": "@{body('Get_appId_secret')?['value']}"
                                                            }
                                                        },
                                                        "runtimeConfiguration": {
                                                            "contentTransfer": {
                                                                "transferMode": "Chunked"
                                                            }
                                                        }
                                                    },
                                                    "Creation_execution_Id": {
                                                        "type": "Compose",
                                                        "inputs": "@body('ExportToPackageCreation')?['value']",
                                                        "runAfter": {
                                                            "ExportToPackageCreation": [
                                                                "Succeeded"
                                                            ]
                                                        }
                                                    },
                                                    "Until": {
                                                        "type": "Until",
                                                        "expression": "@equals(variables('importCompleted'), true)",
                                                        "limit": {
                                                            "count": 30,
                                                            "timeout": "PT5M"
                                                        },
                                                        "actions": {
                                                            "Delay": {
                                                                "type": "Wait",
                                                                "inputs": {
                                                                    "interval": {
                                                                        "count": 5,
                                                                        "unit": "Second"
                                                                    }
                                                                }
                                                            },
                                                            "GetCreationExecSummaryStatus": {
                                                                "type": "Http",
                                                                "inputs": {
                                                                    "uri": "@concat(parameters('D365FOUrl'),'/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.GetExecutionSummaryStatus')",
                                                                    "method": "POST",
                                                                    "body": {
                                                                        "executionId": "@{outputs('Creation_execution_Id')}"
                                                                    },
                                                                    "authentication": {
                                                                        "type": "ActiveDirectoryOAuth",
                                                                        "authority": "https://login.windows.net/",
                                                                        "tenant": "@{parameters('Tenant')}",
                                                                        "audience": "@{parameters('D365FOURL')}",
                                                                        "clientId": "@{body('Get_appId')?['value']}",
                                                                        "secret": "@{body('Get_appId_secret')?['value']}"
                                                                    }
                                                                },
                                                                "runAfter": {
                                                                    "Delay": [
                                                                        "Succeeded"
                                                                    ]
                                                                },
                                                                "runtimeConfiguration": {
                                                                    "contentTransfer": {
                                                                        "transferMode": "Chunked"
                                                                    }
                                                                }
                                                            },
                                                            "Set_variable": {
                                                                "type": "SetVariable",
                                                                "inputs": {
                                                                    "name": "Execution status",
                                                                    "value": "@body('GetCreationExecSummaryStatus')?['value']"
                                                                },
                                                                "runAfter": {
                                                                    "GetCreationExecSummaryStatus": [
                                                                        "Succeeded"
                                                                    ]
                                                                }
                                                            },
                                                            "Condition_on_Execution_Status": {
                                                                "type": "If",
                                                                "expression": {
                                                                    "or": [
                                                                        {
                                                                            "equals": [
                                                                                "@variables('Execution status')",
                                                                                "Succeeded"
                                                                            ]
                                                                        },
                                                                        {
                                                                            "equals": [
                                                                                "@variables('Execution status')",
                                                                                "Failed"
                                                                            ]
                                                                        },
                                                                        {
                                                                            "equals": [
                                                                                "@variables('Execution status')",
                                                                                "PartiallySucceeded"
                                                                            ]
                                                                        },
                                                                        {
                                                                            "equals": [
                                                                                "@variables('Execution status')",
                                                                                "Canceled"
                                                                            ]
                                                                        }
                                                                    ]
                                                                },
                                                                "actions": {
                                                                    "Set_variable_3": {
                                                                        "type": "SetVariable",
                                                                        "inputs": {
                                                                            "name": "importCompleted",
                                                                            "value": true
                                                                        }
                                                                    }
                                                                },
                                                                "else": {
                                                                    "actions": {
                                                                        "Set_variable_4": {
                                                                            "type": "SetVariable",
                                                                            "inputs": {
                                                                                "name": "importCompleted",
                                                                                "value": false
                                                                            }
                                                                        }
                                                                    }
                                                                },
                                                                "runAfter": {
                                                                    "Set_variable": [
                                                                        "Succeeded"
                                                                    ]
                                                                }
                                                            }
                                                        },
                                                        "runAfter": {
                                                            "Creation_execution_Id": [
                                                                "Succeeded"
                                                            ]
                                                        }
                                                    },
                                                    "Check_execution_status": {
                                                        "type": "If",
                                                        "expression": {
                                                            "and": [
                                                                {
                                                                    "equals": [
                                                                        "@variables('Execution status')",
                                                                        "Succeeded"
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        "actions": {
                                                            "GetCreationPackageURL": {
                                                                "type": "Http",
                                                                "inputs": {
                                                                    "uri": "@concat(parameters('D365FOURL'),'/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.GetExportedPackageUrl')",
                                                                    "method": "POST",
                                                                    "body": {
                                                                        "executionId": "@{outputs('Creation_execution_Id')}"
                                                                    },
                                                                    "authentication": {
                                                                        "type": "ActiveDirectoryOAuth",
                                                                        "authority": "https://login.windows.net/",
                                                                        "tenant": "@{parameters('Tenant')}",
                                                                        "audience": "@{parameters('D365FOURL')}",
                                                                        "clientId": "@{body('Get_appId')?['value']}",
                                                                        "secret": "@{body('Get_appId_secret')?['value']}"
                                                                    }
                                                                },
                                                                "runtimeConfiguration": {
                                                                    "contentTransfer": {
                                                                        "transferMode": "Chunked"
                                                                    }
                                                                }
                                                            },
                                                            "download_file": {
                                                                "type": "Http",
                                                                "inputs": {
                                                                    "uri": "@{body('GetCreationPackageURL')?['value']}",
                                                                    "method": "GET"
                                                                },
                                                                "runAfter": {
                                                                    "GetCreationPackageURL": [
                                                                        "Succeeded"
                                                                    ]
                                                                },
                                                                "runtimeConfiguration": {
                                                                    "contentTransfer": {
                                                                        "transferMode": "Chunked"
                                                                    }
                                                                }
                                                            },
                                                            "Create_package_file": {
                                                                "type": "ApiConnection",
                                                                "inputs": {
                                                                    "host": {
                                                                        "connection": {
                                                                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                                        }
                                                                    },
                                                                    "method": "post",
                                                                    "body": "@body('download_file')",
                                                                    "headers": {
                                                                        "ReadFileMetadataFromServer": true
                                                                    },
                                                                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('storage account')))}/files",
                                                                    "queries": {
                                                                        "folderPath": "@concat('/',parameters('sa_3PL_container'),'/',parameters('bs_export_rootfolder'),items('For_each_company_list'),variables('AzurePath'),parameters('bs_3PL_zipsubfolder'))",
                                                                        "name": "@concat(outputs('Creation_execution_Id'),'.zip')",
                                                                        "queryParametersSingleEncoded": true
                                                                    }
                                                                },
                                                                "runAfter": {
                                                                    "download_file": [
                                                                        "Succeeded"
                                                                    ]
                                                                },
                                                                "runtimeConfiguration": {
                                                                    "contentTransfer": {
                                                                        "transferMode": "Chunked"
                                                                    }
                                                                }
                                                            },
                                                            "Check_oData_Method": {
                                                                "type": "If",
                                                                "expression": {
                                                                    "and": [
                                                                        {
                                                                            "not": {
                                                                                "equals": [
                                                                                    "@variables('ODataUpdateMethod')",
                                                                                    ""
                                                                                ]
                                                                            }
                                                                        }
                                                                    ]
                                                                },
                                                                "actions": {
                                                                    "Odata_action_creation": {
                                                                        "type": "Http",
                                                                        "inputs": {
                                                                            "uri": "@concat(parameters('D365FOUrl'),variables('ODataUpdateMethod'))",
                                                                            "method": "POST",
                                                                            "body": {
                                                                                "_executionId": "@{outputs('Creation_execution_Id')}"
                                                                            },
                                                                            "authentication": {
                                                                                "type": "ActiveDirectoryOAuth",
                                                                                "authority": "https://login.windows.net/",
                                                                                "tenant": "@{parameters('Tenant')}",
                                                                                "audience": "@{parameters('D365FOUrl')}",
                                                                                "clientId": "@{body('Get_appId')?['value']}",
                                                                                "secret": "@{body('Get_appId_secret')?['value']}"
                                                                            }
                                                                        },
                                                                        "runtimeConfiguration": {
                                                                            "contentTransfer": {
                                                                                "transferMode": "Chunked"
                                                                            }
                                                                        }
                                                                    }
                                                                },
                                                                "else": {
                                                                    "actions": {}
                                                                },
                                                                "runAfter": {
                                                                    "Create_package_file": [
                                                                        "Succeeded"
                                                                    ]
                                                                }
                                                            }
                                                        },
                                                        "else": {
                                                            "actions": {
                                                                "Get_notification_list": {
                                                                    "type": "ApiConnection",
                                                                    "inputs": {
                                                                        "host": {
                                                                            "connection": {
                                                                                "name": "@parameters('$connections')['keyvault']['connectionId']"
                                                                            }
                                                                        },
                                                                        "method": "get",
                                                                        "path": "/secrets/@{encodeURIComponent('notification-distribution-list')}/value"
                                                                    },
                                                                    "runtimeConfiguration": {
                                                                        "secureData": {
                                                                            "properties": [
                                                                                "inputs",
                                                                                "outputs"
                                                                            ]
                                                                        }
                                                                    }
                                                                },
                                                                "Compose_FO_URL": {
                                                                    "type": "Compose",
                                                                    "inputs": "@concat(parameters('D365FOURL'),'/?mi=DMFStagingExecutionHistory&cmp=',items('For_each_company_list'))",
                                                                    "runAfter": {
                                                                        "Get_notification_list": [
                                                                            "Succeeded"
                                                                        ]
                                                                    }
                                                                },
                                                                "Send_an_email_(V2)_1": {
                                                                    "type": "ApiConnection",
                                                                    "inputs": {
                                                                        "host": {
                                                                            "connection": {
                                                                                "name": "@parameters('$connections')['office365']['connectionId']"
                                                                            }
                                                                        },
                                                                        "method": "post",
                                                                        "body": {
                                                                            "To": "@body('Get_notification_list')?['value']",
                                                                            "Subject": "Notifications - Logic App FAILED - @{workflow().name}",
                                                                            "Body": "<p class=\"editor-paragraph\">Logic App Run Failed<br><br>Run Id: @{concat('https://portal.azure.com/#blade/Microsoft_Azure_EMA/LogicAppsMonitorBlade/runid/', encodeUriComponent(workflow().run.id))}<br>When: @{utcNow()}<br><br>The DMF import has failed.<br>Execution ID: @{outputs('Creation_execution_Id')}<br>You can review the job in Dynamics 365 Finance &amp; Operations here:<br>@{outputs('Compose_FO_URL')}</p>",
                                                                            "Importance": "Normal"
                                                                        },
                                                                        "path": "/v2/Mail"
                                                                    },
                                                                    "runAfter": {
                                                                        "Compose_FO_URL": [
                                                                            "Succeeded"
                                                                        ]
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "runAfter": {
                                                            "Until": [
                                                                "Succeeded"
                                                            ]
                                                        }
                                                    }
                                                },
                                                "else": {
                                                    "actions": {}
                                                },
                                                "runAfter": {
                                                    "Set_ODataUpdateMethod": [
                                                        "Succeeded"
                                                    ]
                                                }
                                            },
                                            "Set_ExecutionId": {
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "ExecutionIdVar",
                                                    "value": "@item()?['ExecutionId']"
                                                },
                                                "runAfter": {
                                                    "Set_ProviderPath": [
                                                        "Succeeded"
                                                    ]
                                                }
                                            },
                                            "Set_ODataUpdateMethod": {
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "ODataUpdateMethod",
                                                    "value": "@item()?['ODataMethod']"
                                                },
                                                "runAfter": {
                                                    "Set_ExecutionId": [
                                                        "Succeeded"
                                                    ]
                                                }
                                            }
                                        },
                                        "runAfter": {
                                            "Parse_3PL_Parameters_JSON": [
                                                "Succeeded"
                                            ]
                                        },
                                        "runtimeConfiguration": {
                                            "concurrency": {
                                                "repetitions": 1
                                            }
                                        }
                                    }
                                },
                                "runAfter": {
                                    "Parse_JSON": [
                                        "Succeeded"
                                    ]
                                },
                                "runtimeConfiguration": {
                                    "concurrency": {
                                        "repetitions": 1
                                    }
                                }
                            }
                        },
                        "runAfter": {
                            "Get_appId_secret": [
                                "Succeeded"
                            ]
                        },
                        "runtimeConfiguration": {
                            "concurrency": {
                                "repetitions": 1
                            }
                        }
                    }
                },
                "runAfter": {
                    "Initialize_variables": [
                        "Succeeded"
                    ]
                }
            },
            "Catch": {
                "type": "Scope",
                "actions": {
                    "Get_secret": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['keyvault']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/secrets/@{encodeURIComponent('notification-distribution-list')}/value"
                        },
                        "runtimeConfiguration": {
                            "secureData": {
                                "properties": [
                                    "inputs",
                                    "outputs"
                                ]
                            }
                        }
                    },
                    "Compose_runId_url": {
                        "type": "Compose",
                        "inputs": "@concat('https://portal.azure.com/#blade/Microsoft_Azure_EMA/LogicAppsMonitorBlade/runid/', encodeUriComponent(workflow().run.id))",
                        "runAfter": {
                            "Get_secret": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Filter_array": {
                        "type": "Query",
                        "inputs": {
                            "from": "@result('Try')",
                            "where": "@or(equals(item()?['status'],'Failed'), equals(item()?['status'],'TimedOut'), equals(item()?['status'],'Skipped'))"
                        },
                        "runAfter": {
                            "Compose_runId_url": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Send_an_email_(V2)": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                }
                            },
                            "method": "post",
                            "body": {
                                "To": "@body('Get_secret')?['value']",
                                "Subject": "Notifications - Logic App FAILED - @{workflow().name}",
                                "Body": "<p class=\"editor-paragraph\">Logic App Run Failed<br><br>Run Id: @{outputs('Compose_runId_url')}<br>When: @{utcNow()}<br><br>Failed actions:@{ body('Filter_array')?[0]?['error']?['message']}</p>",
                                "Importance": "Normal"
                            },
                            "path": "/v2/Mail"
                        },
                        "runAfter": {
                            "Filter_array": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Terminate": {
                        "type": "Terminate",
                        "inputs": {
                            "runStatus": "Failed"
                        },
                        "runAfter": {
                            "Send_an_email_(V2)": [
                                "Succeeded"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Try": [
                        "Skipped",
                        "Failed",
                        "TimedOut"
                    ]
                }
            },
            "Initialize_variables": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "Execution status",
                            "type": "string",
                            "value": "NotRun"
                        },
                        {
                            "name": "importCompleted",
                            "type": "boolean",
                            "value": false
                        },
                        {
                            "name": "3PLParametersJSON",
                            "type": "object"
                        },
                        {
                            "name": "ExportProject",
                            "type": "string"
                        },
                        {
                            "name": "AzurePath",
                            "type": "string"
                        },
                        {
                            "name": "ProviderPath",
                            "type": "string"
                        },
                        {
                            "name": "ExecutionIdVar",
                            "type": "string"
                        },
                        {
                            "name": "ODataUpdateMethod",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {}
            }
        },
        "outputs": {},
        "parameters": {
            "D365FOUrl": {
                "defaultValue": "https://atf-a365-cst.sandbox.operations.eu.dynamics.com",
                "type": "String"
            },
            "Tenant": {
                "defaultValue": "6cfb5c6a-c8a6-4e24-a04c-a65e7a7e5d7d",
                "type": "String"
            },
            "Company_list": {
                "defaultValue": [
                    "A010"
                ],
                "type": "Array"
            },
            "sa_3PL_container": {
                "defaultValue": "dynamics365fodataexchange",
                "type": "String"
            },
            "storage account": {
                "defaultValue": "atfa365sacst01",
                "type": "String"
            },
            "bs_3PL_zipsubfolder": {
                "defaultValue": "/3PLZipFiles",
                "type": "String"
            },
            "bs_export_rootfolder": {
                "defaultValue": "Export/",
                "type": "String"
            },
            "recurrence_interval": {
                "defaultValue": "10",
                "type": "String"
            },
            "recurrence_frequency": {
                "defaultValue": "Minute",
                "type": "String"
            },
            "recurrence_startTime": {
                "defaultValue": "2025-11-11T08:00:00Z",
                "type": "String"
            },
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "keyvault": {
                    "id": "/subscriptions/c6b626ca-6a09-42e3-960a-102d588321c8/providers/Microsoft.Web/locations/westeurope/managedApis/keyvault",
                    "connectionId": "/subscriptions/c6b626ca-6a09-42e3-960a-102d588321c8/resourceGroups/atf-a365-rg-middleware-cst/providers/Microsoft.Web/connections/keyvault-1",
                    "connectionName": "keyvault",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    }
                },
                "azureblob": {
                    "id": "/subscriptions/c6b626ca-6a09-42e3-960a-102d588321c8/providers/Microsoft.Web/locations/westeurope/managedApis/azureblob",
                    "connectionId": "/subscriptions/c6b626ca-6a09-42e3-960a-102d588321c8/resourceGroups/atf-a365-rg-middleware-cst/providers/Microsoft.Web/connections/azureblob-2",
                    "connectionName": "azureblob",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    }
                },
                "office365": {
                    "id": "/subscriptions/c6b626ca-6a09-42e3-960a-102d588321c8/providers/Microsoft.Web/locations/westeurope/managedApis/office365",
                    "connectionId": "/subscriptions/c6b626ca-6a09-42e3-960a-102d588321c8/resourceGroups/atf-a365-rg-middleware-cst/providers/Microsoft.Web/connections/office365-2",
                    "connectionName": "office365",
                    "connectionProperties": {}
                }
            }
        }
    }
}
