atf-a365-la-3plarcesetransform-cst
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "Recurrence": {
                "type": "Recurrence",
                "recurrence": {
                    "interval": "@parameters('recurrence_interval')",
                    "frequency": "@{parameters('recurrence_frequency')}",
                    "startTime": "@{parameters('recurrence_startTime')}",
                    "timeZone": "W. Europe Standard Time"
                }
            }
        },
        "actions": {
            "Try": {
                "type": "Scope",
                "actions": {
                    "For_each_company": {
                        "type": "Foreach",
                        "foreach": "@parameters('company_list')",
                        "actions": {
                            "Get_3PL_Integration_Parameters": {
                                "type": "Http",
                                "inputs": {
                                    "uri": "@concat(\r\n  parameters('D365FOUrl'),\r\n  '/data/ATFThreePLIntegrationParameters?cross-company=true&$filter=dataAreaId eq ''',\r\n  items('For_each_company'),\r\n  ''''\r\n)",
                                    "method": "GET",
                                    "authentication": {
                                        "type": "ActiveDirectoryOAuth",
                                        "authority": "https://login.windows.net/",
                                        "tenant": "@{parameters('tenant')}",
                                        "audience": "@{parameters('D365FOUrl')}",
                                        "clientId": "@{body('Get_clientid')?['value']}",
                                        "secret": "@{body('Get_client_secret')?['value']}"
                                    }
                                },
                                "runtimeConfiguration": {
                                    "contentTransfer": {
                                        "transferMode": "Chunked"
                                    }
                                }
                            },
                            "Parse_JSON": {
                                "type": "ParseJson",
                                "inputs": {
                                    "content": "@body('Get_3PL_Integration_Parameters')",
                                    "schema": {
                                        "type": "object",
                                        "properties": {
                                            "@@odata.context": {
                                                "type": "string"
                                            },
                                            "value": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@@odata.etag": {
                                                            "type": "string"
                                                        },
                                                        "dataAreaId": {
                                                            "type": "string"
                                                        },
                                                        "ThreePLOperator": {
                                                            "type": "string"
                                                        },
                                                        "Description": {
                                                            "type": "string"
                                                        },
                                                        "AzurePathPickingList": {
                                                            "type": "string"
                                                        },
                                                        "ProviderpathItemArrival": {
                                                            "type": "string"
                                                        },
                                                        "DefinitionGroupName": {
                                                            "type": "string"
                                                        },
                                                        "DMFExportProjectItemMaster": {
                                                            "type": "string"
                                                        },
                                                        "AzurepathItemMaster": {
                                                            "type": "string"
                                                        },
                                                        "ProviderPathImportPO": {
                                                            "type": "string"
                                                        },
                                                        "ProviderpathItemMaster": {
                                                            "type": "string"
                                                        },
                                                        "DMFExportProjectItemArrival": {
                                                            "type": "string"
                                                        },
                                                        "ImportProjectPO": {
                                                            "type": "string"
                                                        },
                                                        "AzurepathItemArrival": {
                                                            "type": "string"
                                                        },
                                                        "DMFExportProjectPickingList": {
                                                            "type": "string"
                                                        },
                                                        "AzurePath": {
                                                            "type": "string"
                                                        },
                                                        "ProviderPathPickingList": {
                                                            "type": "string"
                                                        },
                                                        "AzurePathImportPO": {
                                                            "type": "string"
                                                        },
                                                        "ProviderPath": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "@@odata.etag",
                                                        "dataAreaId",
                                                        "ThreePLOperator",
                                                        "Description",
                                                        "AzurePathPickingList",
                                                        "ProviderpathItemArrival",
                                                        "DefinitionGroupName",
                                                        "DMFExportProjectItemMaster",
                                                        "AzurepathItemMaster",
                                                        "ProviderPathImportPO",
                                                        "ProviderpathItemMaster",
                                                        "DMFExportProjectItemArrival",
                                                        "ImportProjectPO",
                                                        "AzurepathItemArrival",
                                                        "DMFExportProjectPickingList",
                                                        "AzurePath",
                                                        "ProviderPathPickingList",
                                                        "AzurePathImportPO",
                                                        "ProviderPath"
                                                    ]
                                                }
                                            }
                                        }
                                    }
                                },
                                "runAfter": {
                                    "Get_3PL_Integration_Parameters": [
                                        "Succeeded"
                                    ]
                                }
                            },
                            "For_each_3PL_Integration_Parameters": {
                                "type": "Foreach",
                                "foreach": "@body('Parse_JSON')?['value']",
                                "actions": {
                                    "Check_3PL_Parameters": {
                                        "type": "If",
                                        "expression": {
                                            "and": [
                                                {
                                                    "not": {
                                                        "equals": [
                                                            "@item()?['DMFExportProjectPickingList']",
                                                            ""
                                                        ]
                                                    }
                                                },
                                                {
                                                    "not": {
                                                        "equals": [
                                                            "@item()?['AzurePathPickingList']",
                                                            ""
                                                        ]
                                                    }
                                                },
                                                {
                                                    "not": {
                                                        "equals": [
                                                            "@item()?['ProviderPathPickingList']",
                                                            ""
                                                        ]
                                                    }
                                                }
                                            ]
                                        },
                                        "actions": {
                                            "List_all_zip_files": {
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                        }
                                                    },
                                                    "method": "get",
                                                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('3pl_storage_account')))}/foldersV2/@{encodeURIComponent(encodeURIComponent(concat('/',parameters('sa_3pl_container'),'/',parameters('bs_export_rootfolder'),items('For_each_company'),item()?['AzurePathPickingList'],parameters('bs_3pl_zipsubfolder'))))}",
                                                    "queries": {
                                                        "nextPageMarker": "",
                                                        "useFlatListing": false
                                                    }
                                                },
                                                "metadata": {
                                                    "JTJmZHluYW1pY3MzNjVmb2RhdGFleGNoYW5nZSUyZkV4cG9ydCUyZkEwMTAlMmZSRklBJTJmUkZJQVppcEZpbGVzJTJm": "/dynamics365fodataexchange/Export/A010/RFIA/RFIAZipFiles/"
                                                }
                                            },
                                            "List_all_csv_files": {
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                        }
                                                    },
                                                    "method": "get",
                                                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('3pl_storage_account')))}/foldersV2/@{encodeURIComponent(encodeURIComponent(concat('/',parameters('sa_3pl_container'),'/',parameters('bs_export_rootfolder'),items('For_each_company'),item()?['AzurePathPickingList'],parameters('bs_3pl_txtsubfolder'))))}",
                                                    "queries": {
                                                        "nextPageMarker": "",
                                                        "useFlatListing": true
                                                    }
                                                },
                                                "runAfter": {
                                                    "Check_if_zip_files_exists": [
                                                        "Succeeded",
                                                        "Failed",
                                                        "Skipped",
                                                        "TimedOut"
                                                    ]
                                                },
                                                "metadata": {
                                                    "JTJmZHluYW1pY3MzNjVmb2RhdGFleGNoYW5nZSUyZkV4cG9ydCUyZkEwMTAlMmZSRklBJTJmUkZJQVppcEZpbGVzJTJm": "/dynamics365fodataexchange/Export/A010/RFIA/RFIAZipFiles/",
                                                    "JTJmZHluYW1pY3MzNjVmb2RhdGFleGNoYW5nZSUyZkV4cG9ydCUyZkEwMTAlMmZSRklBJTJmUkZJQVR4dEZpbGVzJTJm": "/dynamics365fodataexchange/Export/A010/RFIA/RFIATxtFiles/",
                                                    "JTJmZHluYW1pY3MzNjVmb2RhdGFleGNoYW5nZQ==": "/dynamics365fodataexchange",
                                                    "JTJmZHluYW1pY3MzNjVmb2RhdGFleGNoYW5nZSUyZkV4cG9ydCUyZkEwMTAlMmYzUEwlMmZQaWNraW5nTGlzdCUyZkFyY2VzZSUyZjNQTFR4dEZpbGVzJTJm": "/dynamics365fodataexchange/Export/A010/3PL/PickingList/Arcese/3PLTxtFiles/"
                                                }
                                            },
                                            "Check_if_zip_files_exists": {
                                                "type": "If",
                                                "expression": {
                                                    "and": [
                                                        {
                                                            "not": {
                                                                "equals": [
                                                                    "@body('List_all_zip_files')?['status']",
                                                                    404
                                                                ]
                                                            }
                                                        }
                                                    ]
                                                },
                                                "actions": {
                                                    "For_each_zip_file": {
                                                        "type": "Foreach",
                                                        "foreach": "@body('List_all_zip_files')?['value']",
                                                        "actions": {
                                                            "ExtractZipFile": {
                                                                "type": "Function",
                                                                "inputs": {
                                                                    "body": {
                                                                        "container": "@{parameters('sa_3pl_container')}",
                                                                        "blobName": "@{replace(item()?['Path'],'/dynamics365fodataexchange/','')}"
                                                                    },
                                                                    "function": {
                                                                        "id": "/subscriptions/c6b626ca-6a09-42e3-960a-102d588321c8/resourceGroups/atf-a365-rg-middleware-cst/providers/Microsoft.Web/sites/atf-a365-fa-middleware-cst/functions/ExtractZipFile"
                                                                    }
                                                                }
                                                            },
                                                            "Condition": {
                                                                "type": "If",
                                                                "expression": {
                                                                    "and": [
                                                                        {
                                                                            "equals": [
                                                                                "@outputs('ExtractZipFile')?['statusCode']",
                                                                                200
                                                                            ]
                                                                        }
                                                                    ]
                                                                },
                                                                "actions": {
                                                                    "Arcese_transformation": {
                                                                        "type": "Function",
                                                                        "inputs": {
                                                                            "body": {
                                                                                "XmlContent": "@{body('ExtractZipFile')}",
                                                                                "Container": "@{parameters('sa_3pl_container')}",
                                                                                "TxtFileBlobName": "@{concat(parameters('bs_export_rootfolder'),items('For_each_company'),outputs('Compose_azure_file_path'),parameters('bs_3PL_txtsubfolder'),'TO_WMS_ORDINI_CLIENTE',formatDateTime(utcNow(),'yyyy-MM-dd'),guid(),'.csv')}"
                                                                            },
                                                                            "function": {
                                                                                "id": "/subscriptions/c6b626ca-6a09-42e3-960a-102d588321c8/resourceGroups/atf-a365-rg-middleware-cst/providers/Microsoft.Web/sites/atf-a365-fa-middleware-cst/functions/ATFArcese3PLFileTransformation"
                                                                            }
                                                                        }
                                                                    },
                                                                    "Delete_zip_files": {
                                                                        "type": "ApiConnection",
                                                                        "inputs": {
                                                                            "host": {
                                                                                "connection": {
                                                                                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                                                }
                                                                            },
                                                                            "method": "delete",
                                                                            "headers": {
                                                                                "SkipDeleteIfFileNotFoundOnServer": false
                                                                            },
                                                                            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('3pl_storage_account')))}/files/@{encodeURIComponent(encodeURIComponent(item()?['Path']))}"
                                                                        },
                                                                        "runAfter": {
                                                                            "Arcese_transformation": [
                                                                                "Succeeded",
                                                                                "Failed"
                                                                            ]
                                                                        }
                                                                    }
                                                                },
                                                                "else": {
                                                                    "actions": {}
                                                                },
                                                                "runAfter": {
                                                                    "ExtractZipFile": [
                                                                        "Succeeded"
                                                                    ]
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "else": {
                                                    "actions": {}
                                                },
                                                "runAfter": {
                                                    "List_all_zip_files": [
                                                        "Succeeded",
                                                        "Failed"
                                                    ]
                                                }
                                            },
                                            "Check_if_txt_files_exists": {
                                                "type": "If",
                                                "expression": {
                                                    "and": [
                                                        {
                                                            "not": {
                                                                "equals": [
                                                                    "@body('List_all_csv_files')?['status']",
                                                                    404
                                                                ]
                                                            }
                                                        }
                                                    ]
                                                },
                                                "actions": {
                                                    "For_each_csv_file": {
                                                        "type": "Foreach",
                                                        "foreach": "@body('List_all_csv_files')?['value']",
                                                        "actions": {
                                                            "Get_blob_content_(V2)": {
                                                                "type": "ApiConnection",
                                                                "inputs": {
                                                                    "host": {
                                                                        "connection": {
                                                                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                                        }
                                                                    },
                                                                    "method": "get",
                                                                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('3pl_storage_account')))}/files/@{encodeURIComponent(encodeURIComponent(item()?['Id']))}/content",
                                                                    "queries": {
                                                                        "inferContentType": true
                                                                    }
                                                                }
                                                            },
                                                            "Copy_csv_file_to_archive": {
                                                                "type": "ApiConnection",
                                                                "inputs": {
                                                                    "host": {
                                                                        "connection": {
                                                                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                                        }
                                                                    },
                                                                    "method": "post",
                                                                    "headers": {
                                                                        "ReadFileMetadataFromServer": true
                                                                    },
                                                                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('3pl_storage_account')))}/copyFile",
                                                                    "queries": {
                                                                        "source": "@item()?['Path']",
                                                                        "destination": "@concat('/',parameters('sa_3pl_container'),'/',parameters('bs_export_rootfolder'),items('For_each_company'),outputs('Compose_azure_file_path'),parameters('bs_3pl_archivesubfolder'))",
                                                                        "overwrite": true,
                                                                        "queryParametersSingleEncoded": true
                                                                    }
                                                                },
                                                                "runAfter": {
                                                                    "Create_file_sftp": [
                                                                        "Succeeded"
                                                                    ]
                                                                }
                                                            },
                                                            "Delete_csv_from_TxtFiles": {
                                                                "type": "ApiConnection",
                                                                "inputs": {
                                                                    "host": {
                                                                        "connection": {
                                                                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                                        }
                                                                    },
                                                                    "method": "delete",
                                                                    "headers": {
                                                                        "SkipDeleteIfFileNotFoundOnServer": false
                                                                    },
                                                                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('3pl_storage_account')))}/files/@{encodeURIComponent(encodeURIComponent(item()?['Path']))}"
                                                                },
                                                                "runAfter": {
                                                                    "Copy_csv_file_to_archive": [
                                                                        "Succeeded"
                                                                    ]
                                                                }
                                                            },
                                                            "Create_file_sftp": {
                                                                "type": "ApiConnection",
                                                                "inputs": {
                                                                    "host": {
                                                                        "connection": {
                                                                            "name": "@parameters('$connections')['sftpwithssh']['connectionId']"
                                                                        }
                                                                    },
                                                                    "method": "post",
                                                                    "body": "@body('Get_blob_content_(V2)')",
                                                                    "headers": {
                                                                        "ReadFileMetadataFromServer": true
                                                                    },
                                                                    "path": "/datasets/default/files",
                                                                    "queries": {
                                                                        "folderPath": "@{outputs('Compose_ftp_file_path')}",
                                                                        "name": "@item()?['Name']",
                                                                        "queryParametersSingleEncoded": true
                                                                    }
                                                                },
                                                                "runAfter": {
                                                                    "Get_blob_content_(V2)": [
                                                                        "Succeeded"
                                                                    ]
                                                                },
                                                                "runtimeConfiguration": {
                                                                    "contentTransfer": {
                                                                        "transferMode": "Chunked"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "else": {
                                                    "actions": {}
                                                },
                                                "runAfter": {
                                                    "List_all_csv_files": [
                                                        "Succeeded",
                                                        "Failed"
                                                    ]
                                                }
                                            }
                                        },
                                        "else": {
                                            "actions": {}
                                        },
                                        "runAfter": {
                                            "Compose_ftp_file_path": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "Compose_azure_file_path": {
                                        "type": "Compose",
                                        "inputs": "@item()?['AzurePathPickingList']"
                                    },
                                    "Compose_ftp_file_path": {
                                        "type": "Compose",
                                        "inputs": "@item()?['ProviderPathPickingList']",
                                        "runAfter": {
                                            "Compose_azure_file_path": [
                                                "Succeeded"
                                            ]
                                        }
                                    }
                                },
                                "runAfter": {
                                    "Parse_JSON": [
                                        "Succeeded"
                                    ]
                                },
                                "runtimeConfiguration": {
                                    "concurrency": {
                                        "repetitions": 1
                                    }
                                }
                            }
                        },
                        "runAfter": {
                            "Get_client_secret": [
                                "Succeeded"
                            ]
                        },
                        "runtimeConfiguration": {
                            "concurrency": {
                                "repetitions": 1
                            }
                        }
                    },
                    "Get_clientid": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['keyvault']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/secrets/@{encodeURIComponent('d365fo-appid')}/value"
                        },
                        "runtimeConfiguration": {
                            "secureData": {
                                "properties": [
                                    "inputs",
                                    "outputs"
                                ]
                            }
                        }
                    },
                    "Get_client_secret": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['keyvault']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/secrets/@{encodeURIComponent('d365fo-appsecret')}/value"
                        },
                        "runAfter": {
                            "Get_clientid": [
                                "Succeeded"
                            ]
                        },
                        "runtimeConfiguration": {
                            "secureData": {
                                "properties": [
                                    "inputs",
                                    "outputs"
                                ]
                            }
                        }
                    }
                },
                "runAfter": {}
            },
            "Catch": {
                "type": "Scope",
                "actions": {
                    "Get_secret": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['keyvault']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/secrets/@{encodeURIComponent('notification-distribution-list')}/value"
                        },
                        "runtimeConfiguration": {
                            "secureData": {
                                "properties": [
                                    "inputs",
                                    "outputs"
                                ]
                            }
                        }
                    },
                    "Compose_run_Id_URL": {
                        "type": "Compose",
                        "inputs": "@concat('https://portal.azure.com/#blade/Microsoft_Azure_EMA/LogicAppsMonitorBlade/runid/', encodeUriComponent(workflow().run.id))",
                        "runAfter": {
                            "Get_secret": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Filter_array": {
                        "type": "Query",
                        "inputs": {
                            "from": "@result('Try')",
                            "where": "@or(equals(item()?['status'],'Failed'), equals(item()?['status'],'TimedOut'), equals(item()?['status'],'Skipped'))"
                        },
                        "runAfter": {
                            "Compose_run_Id_URL": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Send_an_email_(V2)": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                }
                            },
                            "method": "post",
                            "body": {
                                "To": "@body('Get_secret')?['value']",
                                "Subject": "Notifications - Logic App FAILED - @{workflow().name}",
                                "Body": "<p class=\"editor-paragraph\">Logic App Run Failed<br><br>Run Id: @{outputs('Compose_run_Id_URL')}<br>When: @{utcNow()}<br><br>Failed actions:@{ body('Filter_array')?[0]?['error']?['message']}</p>",
                                "Importance": "Normal"
                            },
                            "path": "/v2/Mail"
                        },
                        "runAfter": {
                            "Filter_array": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Terminate": {
                        "type": "Terminate",
                        "inputs": {
                            "runStatus": "Failed"
                        },
                        "runAfter": {
                            "Send_an_email_(V2)": [
                                "Succeeded"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Try": [
                        "TimedOut",
                        "Skipped",
                        "Failed"
                    ]
                }
            }
        },
        "outputs": {},
        "parameters": {
            "3pl_storage_account": {
                "defaultValue": "atfa365sacst01",
                "type": "String"
            },
            "sa_3pl_container": {
                "defaultValue": "dynamics365fodataexchange",
                "type": "String"
            },
            "company_list": {
                "defaultValue": [
                    "A010"
                ],
                "type": "Array"
            },
            "bs_3pl_zipsubfolder": {
                "defaultValue": "3PLZipFiles/",
                "type": "String"
            },
            "bs_export_rootfolder": {
                "defaultValue": "Export/",
                "type": "String"
            },
            "bs_3pl_txtsubfolder": {
                "defaultValue": "3PLTxtFiles/",
                "type": "String"
            },
            "ftp_3pl_folderpath": {
                "defaultValue": "/Inbound/",
                "type": "String"
            },
            "bs_3pl_archivesubfolder": {
                "defaultValue": "3PLArchivedFiles/",
                "type": "String"
            },
            "tenant": {
                "defaultValue": "6cfb5c6a-c8a6-4e24-a04c-a65e7a7e5d7d",
                "type": "String"
            },
            "D365FOUrl": {
                "defaultValue": "https://atf-a365-cst.sandbox.operations.eu.dynamics.com",
                "type": "String"
            },
            "recurrence_interval": {
                "defaultValue": "10",
                "type": "String"
            },
            "recurrence_frequency": {
                "defaultValue": "Minute",
                "type": "String"
            },
            "recurrence_startTime": {
                "defaultValue": "2025-11-11T08:00:00Z",
                "type": "String"
            },
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "azureblob": {
                    "id": "/subscriptions/c6b626ca-6a09-42e3-960a-102d588321c8/providers/Microsoft.Web/locations/westeurope/managedApis/azureblob",
                    "connectionId": "/subscriptions/c6b626ca-6a09-42e3-960a-102d588321c8/resourceGroups/atf-a365-rg-middleware-cst/providers/Microsoft.Web/connections/azureblob-2",
                    "connectionName": "azureblob",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    }
                },
                "sftpwithssh": {
                    "id": "/subscriptions/c6b626ca-6a09-42e3-960a-102d588321c8/providers/Microsoft.Web/locations/westeurope/managedApis/sftpwithssh",
                    "connectionId": "/subscriptions/c6b626ca-6a09-42e3-960a-102d588321c8/resourceGroups/atf-a365-rg-middleware-cst/providers/Microsoft.Web/connections/sftpwithssh",
                    "connectionName": "sftpwithssh-1",
                    "connectionProperties": {}
                },
                "keyvault": {
                    "id": "/subscriptions/c6b626ca-6a09-42e3-960a-102d588321c8/providers/Microsoft.Web/locations/westeurope/managedApis/keyvault",
                    "connectionId": "/subscriptions/c6b626ca-6a09-42e3-960a-102d588321c8/resourceGroups/atf-a365-rg-middleware-cst/providers/Microsoft.Web/connections/keyvault-1",
                    "connectionName": "keyvault",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    }
                },
                "office365": {
                    "id": "/subscriptions/c6b626ca-6a09-42e3-960a-102d588321c8/providers/Microsoft.Web/locations/westeurope/managedApis/office365",
                    "connectionId": "/subscriptions/c6b626ca-6a09-42e3-960a-102d588321c8/resourceGroups/atf-a365-rg-middleware-cst/providers/Microsoft.Web/connections/office365-2",
                    "connectionName": "office365",
                    "connectionProperties": {}
                }
            }
        }
    }
}
