atf-a365-la-biexport01-cst
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "Recurrence": {
                "type": "Recurrence",
                "description": "recurrence",
                "recurrence": {
                    "interval": "@parameters('recurrence_interval')",
                    "frequency": "@{parameters('recurrence_frequency')}",
                    "startTime": "@{parameters('recurrence_startTime')}",
                    "timeZone": "W. Europe Standard Time"
                },
                "conditions": []
            }
        },
        "actions": {
            "Try": {
                "type": "Scope",
                "actions": {
                    "Get_appId": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['keyvault']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/secrets/@{encodeURIComponent('d365fo-appid')}/value"
                        },
                        "runtimeConfiguration": {
                            "secureData": {
                                "properties": [
                                    "inputs",
                                    "outputs"
                                ]
                            }
                        }
                    },
                    "Get_appId_secret": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['keyvault']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/secrets/@{encodeURIComponent('d365fo-appsecret')}/value"
                        },
                        "runAfter": {
                            "Get_appId": [
                                "Succeeded"
                            ]
                        },
                        "runtimeConfiguration": {
                            "secureData": {
                                "properties": [
                                    "inputs",
                                    "outputs"
                                ]
                            }
                        }
                    },
                    "For_each_company_list": {
                        "type": "Foreach",
                        "foreach": "@parameters('Company_list')",
                        "actions": {
                            "ExportToPackageCreation": {
                                "type": "Http",
                                "inputs": {
                                    "uri": "@concat(parameters('D365FOURL'),'/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.ExportToPackage')",
                                    "method": "POST",
                                    "body": {
                                        "definitionGroupId": "@{parameters('Dmf_project')}",
                                        "packageName": "@{concat(parameters('Dmf_project'),'Package')}",
                                        "executionId": "@{concat(parameters('Dmf_project'),workflow().run.name)}",
                                        "reExecute": false,
                                        "legalEntityId": "@{items('For_each_company_list')}"
                                    },
                                    "authentication": {
                                        "type": "ActiveDirectoryOAuth",
                                        "authority": "https://login.windows.net/",
                                        "tenant": "@{parameters('Tenant')}",
                                        "audience": "@{parameters('D365FOURL')}",
                                        "clientId": "@{body('Get_appId')?['value']}",
                                        "secret": "@{body('Get_appId_secret')?['value']}"
                                    }
                                },
                                "runAfter": {
                                    "Set_execompleted": [
                                        "Succeeded"
                                    ]
                                },
                                "runtimeConfiguration": {
                                    "contentTransfer": {
                                        "transferMode": "Chunked"
                                    }
                                }
                            },
                            "Creation_execution_Id": {
                                "type": "Compose",
                                "inputs": "@body('ExportToPackageCreation')?['value']",
                                "runAfter": {
                                    "ExportToPackageCreation": [
                                        "Succeeded"
                                    ]
                                }
                            },
                            "Until": {
                                "type": "Until",
                                "expression": "@equals(variables('ExecutionCompleted'), true)",
                                "limit": {
                                    "count": 20,
                                    "timeout": "PT1H"
                                },
                                "actions": {
                                    "GetCreationExecSummaryStatus": {
                                        "type": "Http",
                                        "inputs": {
                                            "uri": "@concat(parameters('D365FOUrl'),'/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.GetExecutionSummaryStatus')",
                                            "method": "POST",
                                            "body": {
                                                "executionId": "@{outputs('Creation_execution_Id')}"
                                            },
                                            "authentication": {
                                                "type": "ActiveDirectoryOAuth",
                                                "authority": "https://login.windows.net/",
                                                "tenant": "@{parameters('Tenant')}",
                                                "audience": "@{parameters('D365FOURL')}",
                                                "clientId": "@{body('Get_appId')?['value']}",
                                                "secret": "@{body('Get_appId_secret')?['value']}"
                                            }
                                        },
                                        "runAfter": {
                                            "Delay": [
                                                "Succeeded"
                                            ]
                                        },
                                        "runtimeConfiguration": {
                                            "contentTransfer": {
                                                "transferMode": "Chunked"
                                            }
                                        }
                                    },
                                    "set_execution_status": {
                                        "type": "SetVariable",
                                        "inputs": {
                                            "name": "Executionstatus",
                                            "value": "@body('GetCreationExecSummaryStatus')?['value']"
                                        },
                                        "runAfter": {
                                            "GetCreationExecSummaryStatus": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "Delay": {
                                        "type": "Wait",
                                        "inputs": {
                                            "interval": {
                                                "count": 60,
                                                "unit": "Second"
                                            }
                                        }
                                    },
                                    "check_execution_status": {
                                        "type": "If",
                                        "expression": {
                                            "or": [
                                                {
                                                    "equals": [
                                                        "@variables('Executionstatus')",
                                                        "Succeeded"
                                                    ]
                                                },
                                                {
                                                    "equals": [
                                                        "@variables('Executionstatus')",
                                                        "Failed"
                                                    ]
                                                },
                                                {
                                                    "equals": [
                                                        "@variables('Executionstatus')",
                                                        "PartiallySucceeded"
                                                    ]
                                                },
                                                {
                                                    "equals": [
                                                        "@variables('Executionstatus')",
                                                        "Canceled"
                                                    ]
                                                }
                                            ]
                                        },
                                        "actions": {
                                            "set_execution_completed_true": {
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "ExecutionCompleted",
                                                    "value": true
                                                }
                                            }
                                        },
                                        "else": {
                                            "actions": {
                                                "Set_execution_completed_false": {
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "ExecutionCompleted",
                                                        "value": false
                                                    }
                                                }
                                            }
                                        },
                                        "runAfter": {
                                            "set_execution_status": [
                                                "Succeeded"
                                            ]
                                        }
                                    }
                                },
                                "runAfter": {
                                    "Creation_execution_Id": [
                                        "Succeeded"
                                    ]
                                }
                            },
                            "Check_execution_succeeded": {
                                "type": "If",
                                "expression": {
                                    "and": [
                                        {
                                            "equals": [
                                                "@variables('Executionstatus')",
                                                "Succeeded"
                                            ]
                                        }
                                    ]
                                },
                                "actions": {
                                    "GetCreationPackageURL": {
                                        "type": "Http",
                                        "inputs": {
                                            "uri": "@concat(parameters('D365FOUrl'),'/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.GetExportedPackageUrl')",
                                            "method": "POST",
                                            "body": {
                                                "executionId": "@{outputs('Creation_execution_Id')}"
                                            },
                                            "authentication": {
                                                "type": "ActiveDirectoryOAuth",
                                                "authority": "https://login.windows.net/",
                                                "tenant": "@{parameters('Tenant')}",
                                                "audience": "@{parameters('D365FOURL')}",
                                                "clientId": "@{body('Get_appId')?['value']}",
                                                "secret": "@{body('Get_appId_secret')?['value']}"
                                            }
                                        },
                                        "runtimeConfiguration": {
                                            "contentTransfer": {
                                                "transferMode": "Chunked"
                                            }
                                        }
                                    },
                                    "download_file": {
                                        "type": "Http",
                                        "inputs": {
                                            "uri": "@{body('GetCreationPackageURL')?['value']}",
                                            "method": "GET"
                                        },
                                        "runAfter": {
                                            "GetCreationPackageURL": [
                                                "Succeeded"
                                            ]
                                        },
                                        "runtimeConfiguration": {
                                            "contentTransfer": {
                                                "transferMode": "Chunked"
                                            }
                                        }
                                    },
                                    "Create_blob_(V2)": {
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "body": "@body('download_file')",
                                            "headers": {
                                                "ReadFileMetadataFromServer": true
                                            },
                                            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('storage account')))}/files",
                                            "queries": {
                                                "folderPath": "@parameters('bs_temporary_folder')",
                                                "name": "@concat(outputs('Creation_execution_Id'),'.zip')",
                                                "queryParametersSingleEncoded": true
                                            }
                                        },
                                        "runAfter": {
                                            "download_file": [
                                                "Succeeded"
                                            ]
                                        },
                                        "runtimeConfiguration": {
                                            "contentTransfer": {
                                                "transferMode": "Chunked"
                                            }
                                        }
                                    },
                                    "ExtractZipMultipleFiles": {
                                        "type": "Function",
                                        "inputs": {
                                            "body": {
                                                "container": "@{parameters('container')}",
                                                "blobName": "@{replace(body('Create_blob_(V2)')?['Path'],'/dynamics365fodataexchange/','')}"
                                            },
                                            "function": {
                                                "id": "/subscriptions/c6b626ca-6a09-42e3-960a-102d588321c8/resourceGroups/atf-a365-rg-middleware-cst/providers/Microsoft.Web/sites/atf-a365-fa-middleware-cst/functions/ExtractZipMultipleFiles"
                                            }
                                        },
                                        "runAfter": {
                                            "Create_blob_(V2)": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "Parse_JSON": {
                                        "type": "ParseJson",
                                        "inputs": {
                                            "content": "@body('ExtractZipMultipleFiles')",
                                            "schema": {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "type": "object",
                                                        "properties": {
                                                            "status": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "type": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "message": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "type": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "files": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "type": {
                                                                        "type": "string"
                                                                    },
                                                                    "items": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "type": {
                                                                                "type": "string"
                                                                            },
                                                                            "properties": {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "FileName": {
                                                                                        "type": "object",
                                                                                        "properties": {
                                                                                            "type": {
                                                                                                "type": "string"
                                                                                            }
                                                                                        }
                                                                                    },
                                                                                    "Content": {
                                                                                        "type": "object",
                                                                                        "properties": {
                                                                                            "type": {
                                                                                                "type": "string"
                                                                                            }
                                                                                        }
                                                                                    },
                                                                                    "IsBinary": {
                                                                                        "type": "object",
                                                                                        "properties": {
                                                                                            "type": {
                                                                                                "type": "string"
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                }
                                                                            },
                                                                            "required": {
                                                                                "type": "array",
                                                                                "items": {
                                                                                    "type": "string"
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "required": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "runAfter": {
                                            "ExtractZipMultipleFiles": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "Condition": {
                                        "type": "If",
                                        "expression": {
                                            "and": [
                                                {
                                                    "equals": [
                                                        "@body('Parse_JSON')?['status']",
                                                        "Success"
                                                    ]
                                                }
                                            ]
                                        },
                                        "actions": {
                                            "For_each_1": {
                                                "type": "Foreach",
                                                "foreach": "@body('Parse_JSON')?['files']",
                                                "actions": {
                                                    "Create_file": {
                                                        "type": "ApiConnection",
                                                        "inputs": {
                                                            "host": {
                                                                "connection": {
                                                                    "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                                                }
                                                            },
                                                            "method": "post",
                                                            "body": "@if(items('For_each_1')?['IsBinary'], base64ToBinary(items('For_each_1')?['Content']),items('For_each_1'))",
                                                            "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('sharepoint_site_address')))}/files",
                                                            "queries": {
                                                                "folderPath": "@parameters('sp_target_folder')",
                                                                "name": "@items('For_each_1')?['filename']",
                                                                "queryParametersSingleEncoded": true
                                                            }
                                                        },
                                                        "runtimeConfiguration": {
                                                            "contentTransfer": {
                                                                "transferMode": "Chunked"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "else": {
                                            "actions": {}
                                        },
                                        "runAfter": {
                                            "Parse_JSON": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "Delete_blob_(V2)": {
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                }
                                            },
                                            "method": "delete",
                                            "headers": {
                                                "SkipDeleteIfFileNotFoundOnServer": false
                                            },
                                            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('storage account')))}/files/@{encodeURIComponent(encodeURIComponent(body('Create_blob_(V2)')?['Path']))}"
                                        },
                                        "runAfter": {
                                            "Condition": [
                                                "Succeeded"
                                            ]
                                        }
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "Get_notification_list": {
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                                    }
                                                },
                                                "method": "get",
                                                "path": "/secrets/@{encodeURIComponent('notification-distribution-list')}/value"
                                            },
                                            "runtimeConfiguration": {
                                                "secureData": {
                                                    "properties": [
                                                        "inputs",
                                                        "outputs"
                                                    ]
                                                }
                                            }
                                        },
                                        "Compose_FO_URL": {
                                            "type": "Compose",
                                            "inputs": "@concat(parameters('D365FOURL'),'/?mi=DMFStagingExecutionHistory&cmp=',items('For_each_company_list'))",
                                            "runAfter": {
                                                "Get_notification_list": [
                                                    "Succeeded"
                                                ]
                                            }
                                        },
                                        "Send_an_email_(V2)_1": {
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "body": {
                                                    "To": "@body('Get_notification_list')?['value']",
                                                    "Subject": "Notifications - Logic App FAILED - @{workflow().name}",
                                                    "Body": "<p class=\"editor-paragraph\">Logic App Run Failed<br><br>Run Id: @{concat('https://portal.azure.com/#blade/Microsoft_Azure_EMA/LogicAppsMonitorBlade/runid/', encodeUriComponent(workflow().run.id))}<br>When: @{utcNow()}<br><br>The DMF import has failed.<br>Execution ID:@{outputs('Creation_execution_Id')}<br>You can review the job in Dynamics 365 Finance &amp; Operations here:<br>@{outputs('Compose_FO_URL')}</p>",
                                                    "Importance": "Normal"
                                                },
                                                "path": "/v2/Mail"
                                            },
                                            "runAfter": {
                                                "Compose_FO_URL": [
                                                    "Succeeded"
                                                ]
                                            }
                                        }
                                    }
                                },
                                "runAfter": {
                                    "Until": [
                                        "Succeeded"
                                    ]
                                }
                            },
                            "Set_exestatus": {
                                "type": "SetVariable",
                                "inputs": {
                                    "name": "Executionstatus",
                                    "value": "NotRun"
                                }
                            },
                            "Set_execompleted": {
                                "type": "SetVariable",
                                "inputs": {
                                    "name": "ExecutionCompleted",
                                    "value": false
                                },
                                "runAfter": {
                                    "Set_exestatus": [
                                        "Succeeded"
                                    ]
                                }
                            }
                        },
                        "runAfter": {
                            "Get_appId_secret": [
                                "Succeeded"
                            ]
                        },
                        "runtimeConfiguration": {
                            "concurrency": {
                                "repetitions": 1
                            }
                        }
                    }
                },
                "runAfter": {
                    "Initialize_variables": [
                        "Succeeded"
                    ]
                }
            },
            "Catch": {
                "type": "Scope",
                "actions": {
                    "Get_secret": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['keyvault']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/secrets/@{encodeURIComponent('notification-distribution-list')}/value"
                        },
                        "runtimeConfiguration": {
                            "secureData": {
                                "properties": [
                                    "inputs",
                                    "outputs"
                                ]
                            }
                        }
                    },
                    "Compose_runId_url": {
                        "type": "Compose",
                        "inputs": "@concat('https://portal.azure.com/#blade/Microsoft_Azure_EMA/LogicAppsMonitorBlade/runid/', encodeUriComponent(workflow().run.id))",
                        "runAfter": {
                            "Get_secret": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Filter_array": {
                        "type": "Query",
                        "inputs": {
                            "from": "@result('Try')",
                            "where": "@or(equals(item()?['status'],'Failed'), equals(item()?['status'],'TimedOut'), equals(item()?['status'],'Skipped'))"
                        },
                        "runAfter": {
                            "Compose_runId_url": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Send_an_email_(V2)": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                }
                            },
                            "method": "post",
                            "body": {
                                "To": "@body('Get_secret')?['value']",
                                "Subject": "Notifications - Logic App FAILED - @{workflow().name}",
                                "Body": "<p class=\"editor-paragraph\">Logic App Run Failed<br><br>Run Id: @{outputs('Compose_runId_url')}<br>When: @{utcNow()}<br><br>Failed actions:@{ body('Filter_array')?[0]?['error']?['message']}</p>",
                                "Importance": "Normal"
                            },
                            "path": "/v2/Mail"
                        },
                        "runAfter": {
                            "Filter_array": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Terminate": {
                        "type": "Terminate",
                        "inputs": {
                            "runStatus": "Failed"
                        },
                        "runAfter": {
                            "Send_an_email_(V2)": [
                                "Succeeded"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Try": [
                        "Skipped",
                        "Failed",
                        "TimedOut"
                    ]
                }
            },
            "Initialize_variables": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "Executionstatus",
                            "type": "string",
                            "value": "NotRun"
                        },
                        {
                            "name": "ExecutionCompleted",
                            "type": "boolean",
                            "value": false
                        }
                    ]
                },
                "runAfter": {}
            }
        },
        "outputs": {},
        "parameters": {
            "D365FOUrl": {
                "defaultValue": "https://atf-a365-cst.sandbox.operations.eu.dynamics.com",
                "type": "String"
            },
            "Tenant": {
                "defaultValue": "6cfb5c6a-c8a6-4e24-a04c-a65e7a7e5d7d",
                "type": "String"
            },
            "Company_list": {
                "defaultValue": [
                    "A010"
                ],
                "type": "Array"
            },
            "sp_target_folder": {
                "defaultValue": "/Shared Documents/CST/ATFlow/BIExport/BIExport",
                "type": "String"
            },
            "bs_temporary_folder": {
                "defaultValue": "/dynamics365fodataexchange/Export/A010/BIReport/BIReportZipFiles/",
                "type": "String"
            },
            "Dmf_project": {
                "defaultValue": "exp_reportBI",
                "type": "String"
            },
            "storage account": {
                "defaultValue": "atfa365sacst01",
                "type": "String"
            },
            "container": {
                "defaultValue": "dynamics365fodataexchange",
                "type": "String"
            },
            "sharepoint_site_address": {
                "defaultValue": "https://gruppoautotorino.sharepoint.com/teams/atflow-a365-test/",
                "type": "String"
            },
            "recurrence_interval": {
                "defaultValue": "10",
                "type": "String"
            },
            "recurrence_frequency": {
                "defaultValue": "Minute",
                "type": "String"
            },
            "recurrence_startTime": {
                "defaultValue": "2025-11-11T08:00:00Z",
                "type": "String"
            },
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "keyvault": {
                    "id": "/subscriptions/c6b626ca-6a09-42e3-960a-102d588321c8/providers/Microsoft.Web/locations/westeurope/managedApis/keyvault",
                    "connectionId": "/subscriptions/c6b626ca-6a09-42e3-960a-102d588321c8/resourceGroups/atf-a365-rg-middleware-cst/providers/Microsoft.Web/connections/keyvault-1",
                    "connectionName": "keyvault",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    }
                },
                "azureblob": {
                    "id": "/subscriptions/c6b626ca-6a09-42e3-960a-102d588321c8/providers/Microsoft.Web/locations/westeurope/managedApis/azureblob",
                    "connectionId": "/subscriptions/c6b626ca-6a09-42e3-960a-102d588321c8/resourceGroups/atf-a365-rg-middleware-cst/providers/Microsoft.Web/connections/azureblob-2",
                    "connectionName": "azureblob",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    }
                },
                "sharepointonline": {
                    "id": "/subscriptions/c6b626ca-6a09-42e3-960a-102d588321c8/providers/Microsoft.Web/locations/westeurope/managedApis/sharepointonline",
                    "connectionId": "/subscriptions/c6b626ca-6a09-42e3-960a-102d588321c8/resourceGroups/atf-a365-rg-middleware-cst/providers/Microsoft.Web/connections/sharepointonline-1",
                    "connectionName": "sharepointonline-2",
                    "connectionProperties": {}
                },
                "office365": {
                    "id": "/subscriptions/c6b626ca-6a09-42e3-960a-102d588321c8/providers/Microsoft.Web/locations/westeurope/managedApis/office365",
                    "connectionId": "/subscriptions/c6b626ca-6a09-42e3-960a-102d588321c8/resourceGroups/atf-a365-rg-middleware-cst/providers/Microsoft.Web/connections/office365-2",
                    "connectionName": "office365",
                    "connectionProperties": {}
                }
            }
        }
    }
}
